<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="C:\Users\impoi\OneDrive\Desktop\HTML PRACTICE 1\class-10\class10-materials\cuisine.css">
	</head>
	<body>

    <header class="flex end">
      <ul class="invis">
        <li class="inlineblock margin"><a href="#">Home</a></li>
        <li class="inlineblock margin"><a href="#">About Us</a></li>
        <li class="inlineblock margin"><a href="#">Menu</a></li>
        <li class="inlineblock margin"><a href="#">Order Now</a></li>
        <li class="inlineblock margin"><a href="#">Blog</a></li>
        <li class="inlineblock margin"><a href="#">Location</a></li>
      </ul>
      <figure class="flex end">
      <img class="margin end"src="#" alt="cart">
      <img class="margin end"src="#" alt="scope">
      </figure>
    </header>

    <section class="rightpad">
      <h1>Welcome To Our Cuisine Resteraunt</h1>
      <form action="#">
        <input type="text">
      </form>
      <ul>
        <li class="inlineblock margin">252k</li>
        <li class="inlineblock margin">62k</li>
        <li class="inlineblock margin">55k</li>
      </ul>
    </section>

    <section class="leftpad">
      <span>About Us</span>
      <H2>Discover Our Resteraunt Story</H2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloribus enim sit atque? Rerum, labore dolor ipsa ex saepe quas ducimus nesciunt repudiandae temporibus, atque adipisci reprehenderit. Nam, dolores unde?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam error voluptate harum minus dolore dolores sunt repudiandae placeat. </p>
      <a href="#">Discover Menu</a>
    </section>
    
    <section class="textcenter">
      <span>Order Online Now</span>
      <h2>Our Specialty Cuisine</h2>
      <ul>
        <li class="inlineblock margin"><a href="#">Breakfast</a></li>
        <li class="inlineblock margin"><a href="#">Lunch</a></li>
        <li class="inlineblock margin"><a href="#">Dinner</a></li>
        <li class="inlineblock margin"><a href="#">Dessert</a></li>
        <li class="inlineblock margin"><a href="#">Shake</a></li>
      </ul>
      <figure class="flex center">
        <img class="margin"src="#" alt="food">
        <img class="margin"src="#" alt="food">
        <img class="margin"src="#" alt="food">
        <img class="margin"src="#" alt="food">
      </figure>
    </section>
    


		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>